/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
@font-face {
    font-family: ChailceNoggin;
    src: url(/fonts/ChailceNogginRegular.ttf);
}

body {
    font-family: "Open Sans", sans-serif;
    color: #444444;
}

.v-font {
    font-family: "ChailceNoggin", sans-serif;
}

a {
    color: var(--accent-color);
    text-decoration: none;
}

a:hover {
    color: var(--accent-color-dark);
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Roboto", sans-serif;
}

/*--------------------------------------------------------------
# Disable aos animation delay on mobile devices
--------------------------------------------------------------*/
@media screen and (max-width: 768px) {
    [data-aos-delay] {
      transition-delay: 0 !important;
    }
  }
  