.input-group-addon:last-child {
  border-radius: 0px var(--border-radius) var(--border-radius) 0;
}

.users {
  > .row {
    background: var(--bg-primary);
    border-radius: var(--border-radius);
    padding: 10px;
  }
}

.users-container .users-box {
  background: var(--bg-primary);
  border-radius: var(--border-radius);
  width: auto;
  padding: 20px;

  a {
    font-size: 19px;
  }
}

.avatar.avatar-lg {
  width: 124px;
  height: 124px;
  line-height: 124px;
  font-size: 4rem;
  margin-bottom: 20px;
}

.persona-usercard {
  border-radius: var(--border-radius);

  .usercard-picture{
    border-radius: var(--border-radius) 0 0 var(--border-radius);
  }

  .usercard-name {
    font-size: 24px;
  }
}