/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
.back-to-top {
    position: fixed;
    visibility: hidden;
    opacity: 0;
    right: 15px;
    bottom: 15px;
    z-index: 996;
    background: var(--accent-color);
    width: 40px;
    height: 40px;
    border-radius: var(--border-radius);
    transition: all 0.4s;
}

.back-to-top em {
    font-size: 28px;
    color: #fff;
    line-height: 0;
}

.back-to-top:hover {
    background: var(--accent-color-dark);
    color: #fff;
}

.back-to-top.active {
    visibility: visible;
    opacity: 1;
}