.categories {
    >li {
        .card {
            height: auto;
            border-radius: @border-radius;
            border: 0px;
            color: white;

            >* {
                margin-right: 0px;
            }
        }

        border-radius: @border-radius;
        width: 50%;
    }

    padding: 25px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.category {
    >ul {
        >li {
            .card {
                height: auto;

                >* {
                    margin-right: 0px;
                }
            }

            border-radius: @border-radius;
        }

        padding: 25px;
    }
}