.categories {
    >li {
        .card {
            height: auto;
            border-radius: @border-radius;

            >* {
                margin-right: 0px;
            }
        }

        border-radius: @border-radius;
    }

    padding: 25px;
}

.category {
    >ul {
        >li {
            .card {
                height: auto;

                >* {
                    margin-right: 0px;
                }
            }

            border-radius: @border-radius;
        }

        padding: 25px;
    }
}