/*--------------------------------------------------------------
# Fonts
--------------------------------------------------------------*/
@font-face {
    font-family: ChailceNoggin;
    src: url("https://vasak.net.ar/fonts/ChailceNogginRegular.ttf");
}

.v-font {
    font-family: "ChailceNoggin", sans-serif;
}

/*--------------------------------------------------------------
# Body
--------------------------------------------------------------*/

body {
    font-family: "Open Sans", sans-serif;
    background-color: var(--bg-seconday);
}

/*--------------------------------------------------------------
# Buttons
--------------------------------------------------------------*/

.btn {
    border-radius: var(--border-radius);
}

.btn-default {
	color: var(--font-color);
	background-color: var(--bg-primary);
	border-color: var(--bg-seconday);
	font-weight: 600;

	&:active {
		color: #fff;
		background-color: var(--accent-color);
		border-color: var(--accent-color);
	}
	&:focus {
		color: #fff;
		background-color: var(--accent-color);
		border-color: var(--accent-color);
	}
	&:hover {
		color: #fff;
		background-color: var(--accent-color);
		border-color: var(--accent-color);
	}
}

.btn-primary {
	background-color: var(--accent-color);
	border-color: var(--accent-color);
	font-weight: 600;
	border-radius: var(--border-radius);

	&:active {
		background-color: var(--accent-color-dark);
		border-color: var(--accent-color-dark);
		font-weight: 600;
	}
	&:focus {
		background-color: var(--accent-color-dark);
		border-color: var(--accent-color-dark);
		font-weight: 600;
	}
	&:hover {
		background-color: var(--accent-color-dark);
		border-color: var(--accent-color-dark);
		font-weight: 600;
	}
}

/*--------------------------------------------------------------
# Links
--------------------------------------------------------------*/

a {
	color: var(--accent-color);
}

/*--------------------------------------------------------------
# Inputs
--------------------------------------------------------------*/

.input-group .form-control:first-child {
    border-radius: var(--border-radius) 0 0 var(--border-radius);
}

.input-group-btn:last-child>.btn {
    border-radius: 0 var(--border-radius) var(--border-radius) 0;
}

.form-control{
	border-radius: var(--border-radius);

	&:focus {
		box-shadow: none;
	}
}

/*--------------------------------------------------------------
# Alerts
--------------------------------------------------------------*/

.alert{
	border-radius: var(--border-radius);
}