@import "./variables.less";

/*--------------------------------------------------------------
# Top Bar
--------------------------------------------------------------*/

#topbar {
    background: var(--accent-color);
    height: 40px;
    font-size: 14px;
    transition: all 0.5s;
    color: #fff;
    padding: 0;

    .contact-info {
        em {
            font-style: normal;
            color: #fff;

            a {
                padding-left: 5px;
                color: #fff;
                line-height: 0;
                transition: 0.3s;

                &:hover {
                    color: #fff;
                    text-decoration: underline;
                }
            }

            span {
                padding-left: 5px;
                color: #fff;
            }
        }
    }

    .social-links {
        a {
            color: rgba(255, 255, 255, 0.7) !important;
            line-height: 0;
            transition: 0.3s;
            margin-left: 20px;

            &:hover {
                color: white;
            }
        }
    }
}

/*--------------------------------------------------------------
  # Header
  --------------------------------------------------------------*/

#header {
    background: @bg-primary;
    transition: all 0.5s;
    z-index: 997;
    height: 86px;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);

    .logo {
        font-size: 30px;
        margin: 0;
        padding: 0;
        line-height: 1;
        font-weight: 600;
        letter-spacing: 0.8px;
        font-family: "Poppins", sans-serif;

        a {
            color: #222222;

            span {
                color: var(--accent-color);
            }
        }

        img {
            max-height: 60px;
        }
    }
}

#header.fixed-top {
    height: 70px;
}

.scrolled-offset {
    margin-top: 70px;
}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/

.navbar {
    padding: 0;

    ul {
        margin: 0;
        padding: 0;
        display: flex;
        list-style: none;
        align-items: center;
    }

    li {
        position: static;

        &:hover {
            >a {
                &:before {
                    visibility: visible;
                    width: 100%;
                }

                color: var(--accent-color);
            }
        }
    }

    >ul {
        >li {
            white-space: nowrap;
            padding: 10px 0 10px 28px;

            >a {
                &:before {
                    content: "";
                    position: absolute;
                    height: 2px;
                    bottom: -12px;
                    left: 0;
                    background-color: var(--accent-color);
                    visibility: hidden;
                    width: 0px;
                    transition: all 0.3s ease-in-out 0s;
                }
            }
        }
    }

    a {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 3px;
        font-size: 15px;
        font-weight: 600;
        color: #222222;
        white-space: nowrap;
        transition: 0.3s;
        position: relative;

        &:focus {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 0 3px;
            font-size: 15px;
            font-weight: 600;
            color: #222222;
            white-space: nowrap;
            transition: 0.3s;
            position: relative;

            em {
                font-size: 12px;
                line-height: 0;
                margin-left: 5px;
            }
        }

        i {
            font-size: 16;
            line-height: 0;
            margin-left: 5px;
            margin-top: 10px;
            color: var(--accent-color);
        }

        &:hover {
            &:before {
                visibility: visible;
                width: 100%;
            }

            color: var(--accent-color);
        }
    }

    .active {
        &:before {
            visibility: visible;
            width: 100%;
        }

        color: var(--accent-color);

        &:focus {
            color: var(--accent-color);
        }
    }

    .dropdown {
        ul {
            display: block;
            position: absolute;
            top: calc(100% + 30px);
            right: 30px;
            left: 30px;
            margin: 0;
            padding: 10px 0;
            z-index: 99;
            opacity: 0;
            visibility: hidden;
            background: @bg-primary;
            box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
            transition: 0.3s;
            border-radius: @border-radius;

            li {
                min-width: 200px;

                &:hover {
                    >a {
                        color: var(--accent-color);
                    }
                }
            }

            a {
                padding: 10px 20px;
                font-weight: 400;

                em {
                    font-size: 12px;
                }

                &:hover {
                    color: var(--accent-color);
                }
            }

            .active {
                &:hover {
                    color: var(--accent-color);
                }
            }
        }

        &:hover {
            >ul {
                opacity: 1;
                top: 100%;
                visibility: visible;
            }
        }

        .dropdown {
            ul {
                top: 0;
                left: calc(100% - 30px);
                visibility: hidden;
            }

            &:hover {
                >ul {
                    opacity: 1;
                    top: 0;
                    left: 100%;
                    visibility: visible;
                }
            }
        }
    }
}

@media (min-width: 768px) {
	.navbar-collapse.collapse {
		display: flex !important;
	}
}