/*--------------------------------------------------------------
# Widgets
--------------------------------------------------------------*/
.forum-stats {
  margin-top: 20px;
  margin-bottom: 20px;

  & .stats-card {
    background: var(--bg-primary);
    padding: 15px;
    border-radius: var(--border-radius);
    color: var(--font-color);

    & .stats {
      color: var(--accent-color);
    }
  }
}
